////// ANIMATIONER /////////

//Fade-in för sektioner
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card,
.highlight {
    transform: translateY(0);
    animation: fadeUp 0.8s ease forwards;
}

//Hover-effekt för sektioner
.highlight,
.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-8px);
        box-shadow: 0 15px 25px rgba(248, 149, 227, 0.822);
    }
}

//Hover-effekt för bilder
.image-stack__item img {
    transition: transform 0.4s ease, box-shadow 0.4s ease;

    &:hover {
        transform: scale(1.05) rotate(1deg);
        box-shadow: 0 15px 30px rgba(248, 149, 227, 0.822);
    }
}

//Pulse-animation vid klick.
@keyframes pulse {
    0% { box-shadow: 0 0 0 rgba(0,0,0,0); }
    50% { box-shadow: 0 0 20px rgba(248, 149, 227, 0.822); }
    100% { box-shadow: 0 0 0 rgba(0,0,0,0); }
}

.pulse {
    animation: pulse 0.6s;
}