////// ANIMATIONER /////////

//Fade-in för sektioner
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translate(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card,
.highlight {
    animation: fadeUp 0.8s ease forwards;
}

//Hover-effekt för sektioner
.highlight,
.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-8px);
        box-shadow: 0 15px 25px rgba(248, 149, 227, 0.822);
    }
}
