///////VARIABLER////////

//Ljust tema.
$light-bg: #f4f7fa;
$light-text: #222;

//Mörkt tema.
$dark-bg: #1e1e1e;
$dark-text: #f4f4f4;

//Accentfärger.
$primary: #f081cb;
$secondary: #eb1bac;

//Standardtema.
$default-theme: light;


/////MIXINS////

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}


////////GRUNDSTYLING//////

body {

    //IF/ELSE
    @if $default-theme == light {
        background-color: $light-bg;
        color: $light-text;
    } @else {
        background-color: $dark-bg;
        color: $dark-text;
    }

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

h1, h2 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}


//////MÖRKT TEMA/////

@media (prefers-color-scheme: dark) {

    body {
        background-color: $dark-bg;
        color: $dark-text;
    }
}